/* laptops */
@media only screen and (max-width: 1300px) {

  .main {
    width: 95%;
    margin-left: 5%;
  }

  .plateau {
    width: 585px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .tableau-garde {
    width: 222px;
    height: 300px;
  }
  .tableau-archer {
    width: 222px;
    height: 300px;
  }

  .garde-stats {
    float: left;
    margin-left: -20px;
  }

  .cellule {
    width: 65px;
    height: 65px;
  }
}

/* big tablets */
@media only screen and (max-width: 1200px) {
  .plateau {
    width: 500px;
    margin-left: 4%;
    margin-right: 4%;
  }

  .cellule {
    height: 55px;
  }

  .tableau-garde {
    width: 220px;
    height: 300px;
  }

  .tableau-archer {
    width: 220px;
    height: 300px;
  }

  .main {
    width: 100%;
    margin-left: 5%;
  }

  .plateau {
    margin-left: 0;
    margin-right: 0;
  }




}
/* tablets */
@media only screen and (max-width: 1023px) {

  .plateau {
    width: 400px;
    margin-left: 0;
    margin-right: 0;
  }

  .cellule {
    height: 43px;
  }

  .main {
    width: 100%;
    margin-left: 0;
  }

  .tableau-garde {
    margin-top: 0;
    width: 180px;
    height: 220px;
    font-size: 80%;
  }

  .tableau-garde button {
    font-size: 75%;
  }

  .tableau-archer {
    margin-top: 0;
    font-size: 80%;
    width: 180px;
    height: 220px;
  }

  .tableau-archer button {
    font-size: 75%;
  }

  .avatar-garde {
    height: 130px;
    background-size: 70%;
    background-repeat: no-repeat;
  }

  .avatar-archer {
    height: 130px;
    background-size: 70%;
    background-repeat: no-repeat;
  }


}
/* larger phones */
@media only screen and (max-width: 767px) {

  .plateau {
    width: 300px;
    margin-left: 0;
    margin-right: 0;
  }

  .cellule {
    height: 32px;
  }
  .main {
    width: 100%;
    margin-left: 0;
  }

  .tableau-garde {
    margin-top: 0;
    width: 140px;
    height: 160px;
    font-size: 60%;
  }

  .tableau-garde button {
    font-size: 50%;
  }

  .tableau-archer {
    margin-top: 0;
    font-size: 60%;
    width: 140px;
    height: 160px;
  }

  .tableau-archer button {
    font-size: 40%;
  }

  .avatar-garde {
    height: 80px;
    background-size: 50%;
    background-repeat: no-repeat;
  }

  .avatar-archer {
    height: 80px;
    background-size: 50%;
    background-repeat: no-repeat;
  }
